*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
}

h1, h2, h3{
    border-bottom: solid 2 px #ff0000;
}

header{
    width: 100%;
    .container{
        display: flex;
        justify-content: space-around;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    li{
        list-style: none;
        margin-left: 1rem;
    }
}  

.content-img{
    text-align: center;
} 



